<p style="color: green"><%= notice %></p>

<%= render @fridge_element %>

<div>
  <%= link_to "Edytuj ten produkt", edit_fridge_element_path(@fridge_element) %> |
  <%= link_to "Powrót do zawartości lodówki", fridge_elements_path %>

  <%= button_to "Usuń ten produkt", @fridge_element, method: :delete %>
</div>
