<h1>Logowanie</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email, style: "display: block" %>
  <%= f.text_field :email, class: 'form-control' %>

  <%= f.label :password, style: "display: block" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit "Zaloguj" %>
<% end %>
