<%= form_with(model: product_list) do |form| %>
  <% if product_list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product_list.errors.count, "error") %> prohibited this product_list from being saved:</h2>

      <ul>
        <% product_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :productList_id, style: "display: block" %>
    <%= form.text_field :productList_id %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
