<h1>Szzegóły przepisu:</h1>
<h2><%= @recipe.name%></h2>

<%= render "form", recipe: @recipe %>

<br>
<div>
  <ul>
    <% @recipe.recipe_elements.each do |recipe_element| %>
      <li>
        <%= recipe_element.name %> | <%= recipe_element.quantity %>
      </li>
    <%end%>
  </ul>
</div>

<hr>

<%= link_to "Dodaj produkt", new_user_recipe_recipe_element_path(@user, @recipe) %>

<div>

  <%= link_to "Back", root_path %>
</div>
