<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Edytuj przepis", edit_user_recipe_path(@recipe) %> |
  <%= link_to "Powrót", root_path %>

  <%= button_to "Usuń przepis", @user_recipe, method: :delete %>
</div>
