<h1>Główna strona lodówki:</h1>
<h2><%= @fridge.name%></h2>

<%= render "form", fridge: @fridge %>

<br>
<div>
  <ul>
    <% @fridge.fridge_elements.each do |fridge_element| %>
      <li>
        <%= fridge_element.name %> | 
        <%= fridge_element.quantity %> |
        <%= link_to "Edytuj", edit_user_fridge_fridge_element_path(@user, @fridge, fridge_element) %>
      </li>
    <%end%>
  </ul>
</div>

<hr>

<%= link_to "Dodaj produkt", new_user_fridge_fridge_element_path(@user, @fridge) %>

<div>

  <%= link_to "Powrót", root_path %>
</div>
