<p style="color: green"><%= notice %></p>

<%= render @fridge %>

<div>
  <%= link_to "Edytuj lodówkę", edit_user_fridge_path(@fridge) %> |
  <%= link_to "Powrót", root_path %>

  <%= button_to "Usuń lodówkę", @user_fridge, method: :delete %>
</div>
