<p style="color: green"><%= notice %></p>

<%= render @fridge %>

<div>
  <%= link_to "Edit this fridge", edit_user_fridge_path(@fridge) %> |
  <%= link_to "Back", root_path %>

  <%= button_to "Destroy this fridge", @user_fridge, method: :delete %>
</div>
