<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edytuj uzytkownika", edit_user_path(@user) %> |
  <%= link_to "Powrót", root_path %>

  <%= button_to "Usuń uzytkownika", @user, method: :delete %>
</div>
