<p style="color: green"><%= notice %></p>

<%= render @recipe_element %>

<div>
  <%= link_to "Edytuj ten składnik", edit_recipe_element_path(@recipe_element) %> |
  <%= link_to "Powrót do składników", recipe_elements_path %>

  <%= button_to "Usuń ten składnik", @recipe_element, method: :delete %>
</div>
