<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Purchasedate:</strong>
    <%= product.purchaseDate %>
  </p>

  <p>
    <strong>Expirationdate:</strong>
    <%= product.expirationDate %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

</div>
